<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="MaintainContacts.Services.IContactRepository, MaintainContacts.Services" mapTo="MaintainContacts.Services.ContactRepository, MaintainContacts.Services" />
  </container>
</unity>